body {
    background-color: rgba(222, 184, 135, 0.652);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {
    background-color: darkslateblue;
    width: 70%;
    min-height: 80%;
    position: absolute;
    top: 100px;
    left: 210px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 30px;
    align-items: center;
    height: fit-content;
}
.container input {
    border: 0pc;
    height: 5%;
    width: 90%;
    border-bottom: 3px solid rgb(255, 255, 255);
    background-color: transparent;
    margin-top: 60px;
    font: bolder;
    font-size: larger;
    color: white;
}
.container input:focus {
    outline: none;
    font-size: larger;
}
.container button {
    width: 20%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(222, 184, 135);
    font-size: large;
    color: white;
}
@media screen and (max-width:738px) {
    .container {
        left: 15%;
        width: 80%;
    }
}
@media screen and (max-width:1020px) {
    .container {
        left: 15%;
        width: 80%;
    }
}